body{
  background-color:black;
  color: #e0e9e9;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding:5px 10px;
  background-color: #73a1a1;
  border-style: none;
}
input{
  height: 20px;
}